body{
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}


h1{
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 20px;
}

header > img {
    display: block;
    height: 300px;
    width: 100%;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 10px 500px 10px 500px;
    background-color: #cf604c;
    border-radius: 20px;
}

nav li{
    display: inline-block;
    font-size: 20px;
    margin: 0 20px 0 20px;
}

nav li a{
    color: #EDEFEE;
    text-decoration: none;
}

nav li a:hover{
    color: black;
    text-decoration: underline;
}

section{
    display: flex;
    margin: 10px 0 10px 0;
}

article{
    flex: 1;
    padding: 5px 50px 20px 50px;
    background-color: #cf604c;
    border-radius: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #EDEFEE;
}

.main{
    background-image: url(../img/background_main.webP);
    background-size: 100%;
}

.small{
    justify-items: center;
}

.small img{
    max-height: 250px;
    max-width: 500px;
    border-radius: 20px;
}

.small span{
    text-decoration: underline;
}


article:hover{
    transform: scale(102%);
    transition: transform 0.2s ease;
}


article a{
    color: #F4B400;
}

article a:hover{
    color: #000000;
}


footer{
    display: flex;
}

footer div{
    flex: 1;
    justify-items: end;
    text-decoration: overline;
}

footer div img{
    height: 100px;
    width: 100px;
}